{% extends 'user/layout_user.html' %}
{% block content %}
    <div class="content" id="mainContent">
        <section class="container my-5" id="home">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flashMessage" style="position: fixed; top: 0; right: 0; z-index: 9999;" class="mt-3 mr-2 alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <div class="row">
                <div class="col-md-6 mb-3 text-center">
                    <img src="../static/icon/upload_gambar.svg" class="img-responsive img" alt="icon_upload_gambar">
                    <p class="font-semibold mt-1">upload gambar mata anak </p>
                    <input id="FormGambar" name="file" type="file" accept="image/*" class="btn btn-custom custom-bg-warning w-100 font-semibold text-white"/>
                </div>
                <div class="col-md-6 mb-3 text-center">
                    <img src="../static/icon/hasil_diagnosa.svg" class="img-responsive img" alt="icon_cek_hasil">
                    <p class="font-semibold mt-1">Hasil Diagnosa </p>
                    <button type="button" id="cek_hasil" class="btn btn-custom custom-bg-warning w-100 text-white font-semibold" style="height: 42.8px;">Lihat Hasil</button>
                </div>
                <div class="col-md-12 mb-3 text-center">
                    <img src="../static/icon/upload_kamera.svg" class="img-responsive img" alt="icon_upload_camera">
                    <p class="font-semibold mt-1">foto mata anak</p>
                    <button type="button" data-toggle="modal" data-target="#cameraModal" id="open_camera" class="btn btn-custom custom-bg-warning w-100 text-white font-semibold" style="height: 42.8px;">Buka Kamera</button>
                </div>
            </div>
            <div class="modal fade" id="cameraModal" tabindex="-1" aria-labelledby="cameraModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cameraModalLabel">Capture Photo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <video id="video" width="100%" height="240" autoplay></video>
                            <button id="snap" class="btn btn-success mt-2">Capture Photo</button>
                            <canvas id="canvas" width="320" height="240" style="display: none;"></canvas>
                        </div>
                        <div class="modal-footer">
                            <button id="upload" class="btn btn-primary">Upload Photo</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="modal fade" id="dataAnakModal" tabindex="-1" role="dialog" aria-labelledby="dataAnakModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dataAnakModalLabel">Pilih Daata Anak</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <table id="dataAnakTable" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Nama Anak</th>
                        <th>Usia Anak</th>
                        <th>Jenis Kelamin</th>
                        <th>aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for anak in data %}
                      <tr>
                        <td>{{ anak.id }}</td>
                        <td>{{ anak.nama_anak }}</td>
                        <td>{{ anak.usia_anak }}</td>
                        <td>{{ anak.jenis_kelamin }}</td>
                        <td>
                          <button class="btn btn-success pilih-anak" data-id="{{ anak.id }}" data-dismiss="modal">Pilih</button>
                          </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
      </div>
    {% endblock %}
    {% block js %}    
    <script>
        $(document).ready(function () {
            document.querySelectorAll('input').forEach(function(input) {
            input.addEventListener('keydown', function(e) {
                if (e.key === 'Enter') {
                    e.preventDefault(); 
                }
            });
        });
        
    $('#dataAnakTable').DataTable();
    var selectedImageBlob = null;

function openDataAnakModal(imageBlob) {
    selectedImageBlob = imageBlob;  // Simpan blob gambar yang diambil
    $('#dataAnakModal').modal('show');  // Buka modal data anak
}      
            function adjustContentStyle() {
                const content = $('.content');
                const sidebar = document.querySelector('.sidebar');
                const sidebarWidth = 250;
                if ($(window).width() >= 500) {
                    content.addClass('width-desktop').removeClass('width-mobile');
                } else {
                    content.addClass('width-mobile').removeClass('width-desktop');
                }
            }
            adjustContentStyle();
            window.addEventListener('resize', adjustContentStyle);
            $('#sidebarToggle').on('click', function () {
                $('.sidebar').toggleClass('collapsed');
                $('#mainContent').toggleClass('collapsed');
                adjustContentStyle();
            });
// untuk proses deteksi kamera//`
// video: Mendapatkan elemen video dari halaman HTML. Elemen ini akan digunakan untuk menampilkan stream video dari kamera perangkat.
// canvas: Mendapatkan elemen canvas dari halaman HTML. Canvas ini akan digunakan untuk menangkap dan menampilkan gambar dari video.
// context: Mendapatkan konteks gambar 2D dari elemen canvas. Konteks ini menyediakan fungsi untuk menggambar dan memanipulasi gambar pada canvas.
            var video = document.getElementById('video');
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');

            $('#cameraModal').on('shown.bs.modal', function () {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                        video.play();
                    })
                    .catch(function (err) {
                        console.log("Error: " + err);
                    });
            });

            $('#snap').on('click', function () {
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                $('#canvas').show();
            });

            $('#upload').on('click', function () {
                $('#upload').text("Loading...")
                $('#upload').attr("disabled","disabled")
                canvas.toBlob(function (blob) {
                    openDataAnakModal(blob);
                }, 'image/png');
            });
            // Secara keseluruhan, kode ini memastikan bahwa aliran video dari kamera perangkat dihentikan dan dilepaskan ketika modal
            //  Bootstrap dengan ID cameraModal ditutup. Ini berguna untuk menghemat sumber daya, mencegah penggunaan kamera yang 
            // tidak perlu, dan meningkatkan keamanan aplikasi dengan menghentikan aliran media saat tidak lagi diperlukan.
            $('#cameraModal').on('hidden.bs.modal', function () {
                let stream = video.srcObject;
                let tracks = stream.getTracks();
                tracks.forEach(function (track) {
                    track.stop();
                });
                video.srcObject = null;
            });
// peringatan jika tidak menggungagh atau mengupload foto
            $('#cek_hasil').on('click', function () {
                var files = $('#FormGambar')[0].files;
                if (files.length === 0) {
                    alert('Please upload a file or take a photo first.');
                    return;
                }
// upload foto dari files
                var formData = new FormData();
                formData.append('gambar', files[0]);
                $('#cek_hasil').text("Loading...")
                $('#cek_hasil').attr("disabled","disabled")
                openDataAnakModal(files[0]);  // Buka modal data anak dengan file yang diunggah
                
            });
// Handle data anak selection
$('#dataAnakTable').on('click', '.pilih-anak', function () {
        var idAnak = $(this).data('id');

        if (selectedImageBlob) {
            var formData = new FormData();
            formData.append('gambar', selectedImageBlob, 'photo.png');
            formData.append('id_anak', idAnak);

            $.ajax({
                type: 'POST',
                url: '/predict_mtcnn',  // Ganti dengan URL untuk proses diagnosa
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.msg === "SUKSES") {
                        alert("Status : Sukses ");
                        var id_hasil = data.id_hasil;
                        window.location.href = "/user/hasil_diagnosa/" + id_hasil;
                    } else {
                        alert("Status: " + data.msg);
                        window.location.href = "/user/dashboard";
                    }
                },
                error: function(xhr) {
                    var errorMsg = "Terjadi kesalahan pada Server";
                    if (xhr.responseJSON && xhr.responseJSON.msg) {
                        errorMsg = xhr.responseJSON.msg;
                        window.location.href = "/user/dashboard";
                    }
                    alert(errorMsg);
                    window.location.href = "/user/dashboard";
                }
            });
        } else {
            alert('No image selected.');
        }
    });
            // Hide the flash message after 1 second
            setTimeout(function () {
                $('#flashMessage').fadeOut('fast');
            }, 1000);
        });
    </script>
  {% endblock %}