{% extends 'user/layout_user.html' %}
{% block content %}
 <!-- Content -->
 <div class="content" style="margin-top: 80px;" id="mainContent">
  <!-- Flash Message -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div id="flashMessage" class="alert alert-success alert-dismissible fade show" role="alert">
    {{ messages[0] }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  {% endwith %}

  <!-- Profile Form -->
  <div class="card">
    <div class="card-body">
      <h1 class="text-center font-semibold" style="color: #FFA451;">Profile</h1>
      {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endif %}
      <form id="form-now">
        <div class="form-group">
          <label class="font-semibold" style="color: #FFA451;"><img src="../static/icon/username.svg" alt="Username Icon"> Nama orang tua</label>
          <input type="text" class="form-control " name="full_name" id="full_name" value="{{ session['full_name'] }}">
        </div>
        <div class="form-group">
          <label class="font-semibold" style="color: #FFA451;"><img src="../static/icon/email.svg" alt="Email Icon"> Email</label>
          <input type="email" class="form-control " name="email" id="email" value="{{ session['email'] }}">
        </div>
        <div class="text-center">
          <button type="button" onclick="updateProfile()" class="btn btn-custom custom-bg-warning text-white">Simpan</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Anak-anak Table -->
  <div class="mt-3">
    <h1 class="text-center font-semibold">Data Anak</h1>
    <button class="btn btn-custom-warning mb-2 custom-bg-info text-white">Tambah Data</button>
    <table id="bookingsTable" class="table table-bordered">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama Anak</th>
          <th>Usia Anak</th>
          <th>Jenis Kelamin</th>
          <th>aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for anak in data %}
        <tr>
          <td>{{ anak.id }}</td>
          <td>{{ anak.nama_anak }}</td>
          <td>{{ anak.usia_anak }}</td>
          <td>{{ anak.jenis_kelamin }}</td>
          <td>
            <button class="btn btn-custom-warning mb-2 custom-bg-warning text-white">Edit Data</button>
            <button class="btn btn-custom-danger mb-2 custom-bg-danger text-white">Hapus Data</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    $('#bookingsTable').DataTable();
    function adjustContentStyle() {
      const content = $('.content');
      const sidebarWidth = 250; // Width of the sidebar in pixels

      if ($(window).width() >= 500) {
        // Desktop view
        content.addClass('width-desktop').removeClass('width-mobile');
      } else {
        // Mobile view
        content.addClass('width-mobile').removeClass('width-desktop');
      }
    }

    // Adjust styles on page load
    adjustContentStyle();

    // Adjust styles on window resize
    $(window).resize(adjustContentStyle);

    $('#sidebarToggle').on('click', function () {
      $('.sidebar').toggleClass('collapsed');
      $('#mainContent').toggleClass('collapsed');
      adjustContentStyle();
    });
  });
    function updateProfile() {
      event.preventDefault(); // Prevent form submission
              
              // Ambil nilai dari form
              var full_name= $('#full_name').val();
              var email = $('#email').val();
              var nm_anak = $('#nm_anak').val();
              var usia_anak = $('#usia_anak').val();

              // Kirim data menggunakan AJAX
              $.ajax({
                  type: 'POST',
                  url: '/user/update_profile',  // Ganti dengan URL endpoint Anda
                  data: {
                      full_name: full_name,
                      email: email,
                      nama_anak: nm_anak,
                      usia_anak: usia_anak,
                  },
                  success: function(response) {
                      // Tampilkan pesan sukses atau lakukan tindakan lain setelah sukses
                      alert(response.msg);
                      if(response.msg === "Profil berhasil diperbarui"){
                          document.location.href = "/user/dashboard";
                      }
                  },
                  error: function(xhr) {
                      // Tangani dan tampilkan pesan error dari server
                      var errorMsg = "Terjadi kesalahan";
                      if (xhr.responseJSON && xhr.responseJSON.msg) {
                          errorMsg = xhr.responseJSON.msg;
                      }
                      alert(errorMsg);
                  }
              });
    }
</script>
{% endblock %}
